html,
body
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Poppins', sans-serif;

}

.container
{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header
{
  background: url(/_public/main.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.header .container
{
  position: relative;
  top: 200px;
}

.header .container h1 span
{
  font-family: 'Lobster', cursive;
}


.header h1
{
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  animation: drop 1.5s ease;
}

@keyframes drop
{
  0%
  {
    opacity: 0;
    transform: translateY(-80px);
  }

  100%
  {
    opacity: 1;
    transform: translateY(0px);
  }
}



@media (min-width:850px)
{
  .header h1
  {
    font-size: 120px;
  }
}

.header p
{
  color: #fff;
  font-weight: 200;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase;
  animation: drop 1.5s ease;
}

.btn
{
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .3s;
  animation: drop 1.5s ease
}

.nav
{
  background: #000;
  height: 50px;
  width: 100%;
  scroll-behavior: smooth;
}

.nav ul
{
  height: 80px;
  list-style: none;
  margin: 0 -250px 0 0;
  padding: 0;
}

.nav ul li a
{
  float: right;
  color: #fff;
  height: 50px;
  line-height: 50px;
  list-style: none;
  padding: 0 20px;
  transition: background 1s;
  text-decoration: none;
}

.header .container .btn
{
  border: 1px solid #fff;
  transition: 0.5s ease, border 0.2s ease;
  padding-left: 1em;
  padding-right: 1em;
}

.header .container .btn:hover
{
  border: 3px solid #000000;
}

/* Add the arrow icon using :after pseudo-element */
.header .container .btn::after
{
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
  /* SVG content encoded as data URI */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  opacity: 0;
  transition: 0.2s ease, opacity 0.1s ease;
  margin-left: -13px;
}

.header .container .btn:hover::after
{
  opacity: 1;
  margin-left: 15px;
}

.btn:hover,
.nav ul li a:hover
{
  color: black;
  background: lightblue;
  cursor: pointer;
  transition: all .3s;
}

.main .container
{
  margin: 80px auto;
}

.footer
{
  background: #000;
  height: 80px;
  padding-bottom: 50px;
}

.footer p
{
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;

}

::-webkit-scrollbar
{
  width: 0.6em;
  height: 0.5em;
}

::-webkit-scrollbar-track
{
  background-color: #000058;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border-radius: 15px;
}